footer {
  width: 100%;
}

footer .container-forms {
  background-color: #d7d4ff;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .container-forms h3 {
  font-size: 32px;
  font-weight: 400;
  font-family: Merriweather;
  line-height: 40.22px;
  margin-bottom: 60px;
  margin-top: 85px;
}

footer .container-forms form {
  display: flex;
  flex-direction: column;
  max-width: 470px;
  gap: 15px;
}

footer .container-forms form input {
  max-width: 470px;
  height: 65px;
  border-radius: 6px;
  border: none;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

footer .container-forms form input::placeholder {
  font-size: 18px;
  font-family: Lato-Regular;
  font-weight: 400;
  color: #6e7275;
}

footer .container-forms form input:focus {
  outline: none;
}

footer .container-forms form textarea {
  max-width: 470px;
  height: 165px;
  border-radius: 6px;
  border: none;
  margin-bottom: 30px;
  padding-top: 21px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

footer .container-forms form textarea::placeholder {
  font-size: 18px;
  font-family: Lato-Regular;
  font-weight: 400;
  color: #6e7275;
}

footer .container-forms form textarea:focus {
  outline: none;
}

footer .container-forms form button {
  width: 470px;
  height: 50px;
  background-color: #6c63ff;
  border: none;
  color: #fff;
  font-family: Lato-Regular;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

footer .container-forms form button:hover {
  background-color: #fff;
  color: #6c63ff;
}
